<template>
<div>
    <md-layout  md-align="center" v-if="flash.success">
    
        <md-layout class="modal-wrapper" md-flex-xsmall="100" md-flex-small="60" md-flex-medium="50" md-flex-large="30">
    
            <md-card  class="md-primary modal-container" md-theme="green">
    
                <md-card-header>

                    <div class="md-title white" v-if="flash.message">{{flash.message}}</div>

                    <div class="md-title white" v-else>{{auth.user_name}}</div>
    
                    <div class="md-title white">{{flash.success}}</div>
    
                </md-card-header>
    
            </md-card>
    
        </md-layout>
    
    </md-layout>
    
    <md-layout  md-align="center" v-if="flash.error">
    
        <md-layout class="modal-wrapper" md-flex-xsmall="100" md-flex-small="60" md-flex-medium="50" md-flex-large="30">
    
            <md-card class="md-warn modal-container" md-theme="green">
    
                <md-card-header>
    
                      <div class="md-title white" v-if="flash.message">{{flash.message}}</div>

                    <div class="md-title white" v-else>{{auth.user_name}}</div>
    
                    <div class="md-title white">{{flash.error}}</div>
    
                </md-card-header>
    
            </md-card>
    
        </md-layout>
    
    </md-layout>

    </div>
</template>

<script>
    import Flash from '../helpers/flash'
    import Auth from '../store/auth'
    
    export default {
        data() {
    
            return {
    
                flash: Flash.state,
    
                auth: Auth.state
    
            }
        }  
    }
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  display: table;
  transition: opacity .3s ease;
  /*display: table-cell;
  vertical-align: top;*/
}
.modal-container {
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.white {

  text-align: center;

  color: aliceblue;
}
</style>