<template>
    <md-layout class="modal-mask" md-align="center">
        <md-layout class="modal-wrapper" md-flex-xsmall="100" md-flex-small="60" md-flex-medium="50" md-flex-large="30">
            <md-card class="modal-container">
                <div class="modal-body">
                    <md-tabs>
                        <md-tab md-label="Инфо">
                            <md-layout md-row>
                                <md-layout md-flex="10"></md-layout>
                                <md-layout md-flex="80">
                                    <md-list>
                                        <md-list-item class="user_name">
                                            <h2> {{users.name}}</h2>
                                        </md-list-item>
                                    </md-list>
                                </md-layout>
                                <md-layout md-flex="10"> </md-layout>
                            </md-layout>
                            <md-layout>
                                <md-layout md-column>
                                    <md-list>
                                        <md-list-item>
                                            <span>Телефон: {{users.phone}}</span>
                                        </md-list-item>
                                        <md-list-item>
                                            <span>Паспорт: {{users.passport}}</span>
                                        </md-list-item>
                                        <md-list-item>
                                            <span>Сумма: {{users.value_cost}}</span>
                                        </md-list-item>
                                    </md-list>
                                </md-layout>
                                <md-layout md-column md-gutter>
                                    <md-list>
                                        <md-list-item>
                                            <span>Комната: {{users.number}}</span>
                                        </md-list-item>
                                        <md-list-item>
                                            <span>Дата заселения: {{users.date_in}} {{users.date_in_time}}</span>
                                        </md-list-item>
                                        <md-list-item>
                                            <span>Дата выселения: {{users.date_out}} {{users.date_out_time}}</span>
                                        </md-list-item>
                                    </md-list>
                                </md-layout>
                            </md-layout>
                            <md-layout md-row>
                                <md-layout md-flex="5"></md-layout>
                                <md-layout md-flex="90">
                                    <md-list>
                                        <md-subheader>Комментарий</md-subheader>
                                        <md-list-item>
                                            <div> {{users.coment}}</div>
                                        </md-list-item>
                                    </md-list>
                                </md-layout>
                                <md-layout md-flex="5"> </md-layout>
                            </md-layout>
                            <md-layout md-row>
                                <md-layout md-flex="5"></md-layout>
                                <md-layout md-flex="90">
                                    <md-list>
                                        <md-subheader>Адрес</md-subheader>
                                        <md-list-item>
                                            <span> {{users.address}}</span>
                                        </md-list-item>
                                    </md-list>
                                </md-layout>
                                <md-layout md-flex="5"> </md-layout>
                            </md-layout>
                        </md-tab>
                        <md-tab md-label="Изменить">
                            <md-layout>
                                <md-layout md-column>
                                    <md-list>
                                        <md-input-container v-bind:class="{'md-input-invalid':errorinput.name}">
                                            <label>Имя</label>
                                            <md-input v-model="users.name"></md-input>
                                            <span class="md-error" v-for="err in errorinput.name">{{err}}</span>
                                        </md-input-container>
                                        <md-input-container v-bind:class="{'md-input-invalid':errorinput.phone}">
                                            <label>Телефон</label>
                                            <md-input v-model="users.phone"></md-input>
                                            <span class="md-error" v-for="err in errorinput.phone">{{err}}</span>
                                        </md-input-container>
                                        <md-input-container v-bind:class="{'md-input-invalid':errorinput.passport}">
                                            <label>Паспорт</label>
                                            <md-input v-model="users.passport"></md-input>
                                            <span class="md-error" v-for="err in errorinput.passport">{{err}}</span>
                                        </md-input-container>
                                    </md-list>
                                </md-layout>
                                <md-layout md-column md-gutter>
                                    <md-list>
                                        <md-input-container v-bind:class="{'md-input-invalid':errorinput.date_out}">
                                            <label>Дата выселения:</label>
                                            <md-input type="date" v-model="users.date_out"></md-input>
                                            <md-input type="time" v-model="time"></md-input>
                                            <span class="md-error" v-for="err in errorinput.date_out">{{err}}</span>
                                        </md-input-container>
                                    </md-list>
                                </md-layout>
                            </md-layout>
                            <md-layout md-row>
                                <md-layout md-flex="5"></md-layout>
                                <md-layout md-flex="90">
                                    <md-input-container v-bind:class="{'md-input-invalid':errorinput.coment}">
                                        <label>Комментарий</label>
                                        <md-textarea v-model="users.coment" maxlength="70"></md-textarea>
                                        <span class="md-error" v-for="err in errorinput.coment">{{err}}</span>
                                    </md-input-container>
                                </md-layout>
                                <md-layout md-flex="5"> </md-layout>
                            </md-layout>
                            <md-layout md-row>
                                <md-layout md-flex="5"></md-layout>
                                <md-layout md-flex="90">
                                    <md-input-container v-bind:class="{'md-input-invalid':errorinput.address}">
                                        <label>Адрес</label>
                                        <md-textarea v-model="users.address"></md-textarea>
                                        <span class="md-error" v-for="err in errorinput.address">{{err}}</span>
                                    </md-input-container>
                                </md-layout>
                                <md-layout md-flex="5"> </md-layout>
                            </md-layout>
                            <md-button class="md-raised md-primary" v-on:click.native="edit()">Изменить</md-button>
                        </md-tab>
                        <md-tab md-label="Выписать">
                            <md-layout>
                                <md-layout md-column>
                                    <md-list>
                                        <md-list-item>
                                            <span>Комната: {{users.number}}</span>
                                        </md-list-item>
                                        <md-list-item>
                                            <span>Цена комнаты: {{users.roomcost}}</span>
                                        </md-list-item>
                                        <md-list-item>
                                            <span>Всего: {{saveMoney}}</span>
                                        </md-list-item>
                                       
                                        <md-list-item>
                                            <md-button class="md-raised md-primary" v-on:click.native="pay()">Рассчитать</md-button>
                                        </md-list-item>
                                    </md-list>
                                </md-layout>
                                <md-layout md-column md-gutter>
                                    <md-list>
                                        <md-list-item>
                                            <span>Всего дней: {{users.dateSum}}</span>
                                        </md-list-item>
                                         <md-subheader>Доп услуги</md-subheader>
                                        <md-list-item v-for="(val,valIndex) in  services" :key="valIndex">
                                            <md-checkbox @change="change($event,valIndex)">{{val.name}}</md-checkbox>
                                            <md-input-container>
                                                <md-input @change="changeCount($event,valIndex)" :disabled="check(valIndex)" v-model="val.count" :value="val.count" min="1"
                                                    size="3" type="number"></md-input>
                                            </md-input-container>
                                            <div style="margin-left:5px;">{{val.costChange}}</div>
                                        </md-list-item>
                                    </md-list>
                                </md-layout>
                            </md-layout>
                        </md-tab>
                    </md-tabs>
                </div>
                <div class="modal-footer">
                    <md-button class="md-raised md-primary" v-on:click.native="$emit('closeuserinfo')">Закрыть</md-button>
                </div>
            </md-card>
        </md-layout>
    </md-layout>
</template>
<script>
    export default {      
        data: function () {
            return {
                error: {},
                time:"00:00",
                services: [{
                        name: "Прачечная",
                        cost: 500,
                        count: "1",
                        id: "1",
                        show: false,
                        costChange: 500
                    }
                ],
                saveMoney: this.users.moneySum,
                costChange: 0,
            }
        },
        props: ['users','errorinput'],
        methods: {
            edit(){
                this.users.date_out = this.users.date_out + " " + this.time
                this.$emit('edituser')
            },
            change(val, valIndex) {
                if (val == true) {
                    this.services[valIndex].show = true
                    this.saveMoney = this.users.moneySum
                    this.сalculate()
                } else {
                    this.services[valIndex].show = false
                    this.services[valIndex].count = 1
                    this.services[valIndex].costChange = this.services[valIndex].cost
                    this.сalculate()

                }
            },
            changeCount(val, valIndex) {
                this.saveMoney = this.users.moneySum
                this.services[valIndex].costChange = this.services[valIndex].cost * val
                this.saveMoney += this.services[valIndex].costChange
            },
            check(valIndex) {
                if (this.services[valIndex].show == true) {
                    return false
                }
                return true
            },
            сalculate() {
                this.costChange = 0
                for (var key in this.services) {
                    if (this.services[key].show == true) {
                        this.costChange += this.services[key].costChange
                    }
                }
                this.saveMoney = this.users.moneySum + this.costChange              
            },
            pay(){
                this.$emit('pay')
            }
        }
    }
</script>
<style scoped>
    textarea {
        max-height: 100px !important;
    }

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        max-width: 600px;
        max-height: 600px;
        width: 100%;
        margin: 0px auto;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .md-card-header {
        background-color: #3f51b5;
        color: rgba(255, 255, 255, .87);
    }

    .user-name {
        text-align: center;
    }

    .modal-body {
        margin: 0px !important;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>