<template>
    <md-layout class="modal-mask" md-align="center">
        <md-layout class="modal-wrapper" md-flex-xsmall="100" md-flex-small="60" md-flex-medium="50" md-flex-large="30">
            <md-card class="modal-container">
    
                <md-card-header>
                    <div class="md-title">Добавить клиента</div>
                </md-card-header>
    
                <div class="modal-body">
                    <md-layout>
                        <md-layout md-column>
                            <md-list>
                                <md-list-item>
                                    <md-input-container v-bind:class="{'md-input-invalid':error.name}">
                                        <label>Имя</label>
                                        <md-input v-model="newRoomer.name"></md-input>
                                        <span class="md-error" v-for="err in error.name">{{err}}</span>
                                    </md-input-container>
                                </md-list-item>
    
                                <md-list-item>
                                    <md-input-container v-bind:class="{'md-input-invalid':error.number}">
                                        <label>Комната</label>
                                        <md-input disabled :value="ckickroom" v-model="newRoomer.room"></md-input>
                                        <span class="md-error" v-for="err in error.number">{{err}}</span>
                                    </md-input-container>
                                </md-list-item>
    
                                <md-list-item>
                                    <md-input-container v-bind:class="{'md-input-invalid':error.passport}">
                                        <label>Номер паспорта</label>
                                        <md-input v-model="newRoomer.passport"></md-input>
                                        <span class="md-error" v-for="err in error.passport">{{err}}</span>
                                    </md-input-container>
                                </md-list-item>
                                <md-list-item>
                                    <md-input-container>
                                        <label>Дата заселения</label>
                                         <md-input disabled type="date" v-model="newRoomer.date_in"></md-input>
                                    </md-input-container>
                                </md-list-item>
                                <md-list-item>
                                    <md-input-container v-bind:class="{'md-input-invalid':error.date_out}">
                                        <label>Дата выселения</label>
                                        <md-input type="date" v-model="newRoomer.date_out"></md-input>                                     
                                        <span class="md-error" v-for="err in error.date_out">{{err}}</span>
                                    </md-input-container>
                                </md-list-item>
                            </md-list>
                        </md-layout>
                        <md-layout md-column md-gutter>
                            <md-list>
                                <md-list-item>
                                    <md-input-container v-bind:class="{'md-input-invalid':error.phone}">
                                        <label>Телефон</label>
                                        <md-input v-model="newRoomer.phone"></md-input>
                                        <span class="md-error" v-for="err in error.phone">{{err}}</span>
                                    </md-input-container>
                                </md-list-item>
                                <md-list-item>
                                    <md-input-container v-bind:class="{'md-input-invalid':error.address}">
                                        <label>Адрес</label>
                                        <md-input v-model="newRoomer.address"></md-input>
                                        <span class="md-error" v-for="err in error.address">{{err}}</span>
                                    </md-input-container>
                                </md-list-item>
                                <md-list-item>
                                    <md-input-container>
                                        <label>Аванс</label>
                                        <md-input v-model="newRoomer.value_cost"></md-input>
                                    </md-input-container>
                                </md-list-item>
                                 <md-list-item>
                                 <md-input-container>
                                        <md-input type="time" v-model=" newRoomer.date_in_time"></md-input>
                                </md-input-container>
                                </md-list-item>
                                <md-list-item>
                                    <md-input-container>
                                        <md-input type="time" v-model=" newRoomer.date_out_time"></md-input>
                                    </md-input-container>
                                </md-list-item>
                            </md-list>
                        </md-layout>
                    </md-layout>
                    <md-layout md-row>
                        <md-layout md-flex="5"></md-layout>
                        <md-layout md-flex="90">
                            <md-input-container>
                                <md-textarea v-model="newRoomer.coment" maxlength="70"></md-textarea>
                            </md-input-container>
                        </md-layout>
                        <md-layout md-flex="5"> </md-layout>
                    </md-layout>
                </div>
                <div class="modal-footer">
                    <md-button class="md-raised md-primary" :disabled=" checkedNewRoomer" v-on:click.native="$emit('addnewuser',newRoomer)">Добавить</md-button>
                    <md-button class="md-raised md-primary" v-on:click.native="addNewUser">Отмена</md-button>
                </div>
            </md-card>
        </md-layout>
    </md-layout>
</template>
<script>
export default {
    props: ['datein', 'errorinput', 'deleteinput', 'clickroom'],
    data: function () {
        return {
            error: this.errorinput,
            okey: this.deleteinput,
            ckickroom: this.clickroom,
            newRoomer: {
                name: '',
                passport: '',
                phone: '',
                coment: '',
                room: '',
                address: '',
                date_in: this.datein,      
                date_out: '',
                value_cost: 0,
                date_in_time: '00:00',
                date_out_time: '00:00',
            },
        }
    },
    methods: {
        addNewUser() {
            if (this.error == null) {
                this.newRoomer = {}
            }    
            this.$emit('closemodal')
        }
    },
    computed: {
        checkedNewRoomer() {
            if (this.newRoomer.name != '' && this.newRoomer.address != '' && this.newRoomer.passport != 0
                && this.newRoomer.phone != '' && this.newRoomer.date_in != ''
                && this.newRoomer.date_out != '') {
                return false
            }
            return true
        }
    },
    
}
</script>
<style scoped>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    max-width: 600px;
    max-height: 800px;
    width: 100%;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.md-card-header {
    background-color: #3f51b5;
    color: rgba(255, 255, 255, .87);
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>