<template>
    <div>
        <md-toolbar>
            <md-button class="md-icon-button" @click.native="toggleLeftSidenav">
                <md-icon>menu</md-icon>
            </md-button>
    
            <h2 class="md-title" style="flex: 1">RanepaHotel</h2>
    
            <router-link to="/login">
                <md-button v-if="!check" class="md-raised">Войти</md-button>
            </router-link>
    
            <md-button v-if="check" class="md-raised" @click.native="logout">Выйти</md-button>
    
        </md-toolbar>
    
        <md-sidenav class="md-left" ref="leftSidenav">
    
            <md-toolbar v-if="check">
    
                <h2 class="md-title" style="flex: 1">{{auth.user_name}}</h2>
    
            </md-toolbar>
    
            <md-toolbar v-else>
    
                <h2 class="md-title" style="flex: 1">Гость</h2>
    
            </md-toolbar>
    
            <md-list v-if="check">
    
                <md-list-item v-if="auth.rules==1">
    
                    <router-link to='/admin' @click.native="closeLeftSidenav">
    
                        <md-icon>build</md-icon>
                        <span>Администратор</span>
                    </router-link>
    
                </md-list-item>
    
                <md-list-item>
    
                    <router-link to='/roomer' @click.native="closeLeftSidenav">
    
                        <md-icon>people</md-icon>
                        <span>Клиенты</span>
                    </router-link>
    
                </md-list-item>
    
                <md-list-item>
    
                    <router-link to='/' @click.native="closeLeftSidenav">
    
                        <md-icon class="ion-calendar"></md-icon>
                        <span>Календарь</span>
                    </router-link>
    
                </md-list-item>
    
            </md-list>
    
        </md-sidenav>
    
    </div>
</template>

<script>
import Flash from '../helpers/flash'
import Auth from '../store/auth'

export default {
    data() {

        return {

            flash: Flash.state,

            auth: Auth.state

        }
    },
    methods: {
        closeLeftSidenav() {
            this.$refs.leftSidenav.close();
        },
        toggleLeftSidenav() {

            this.$refs.leftSidenav.toggle();

        },
        logout() {

            Auth.remove()

            Flash.setSuccess('Вы успешно вышли из приложения!')

            this.$router.push('/')
        }
    },
    computed: {

        check() {

            if (this.auth.api_token) {
                return true
            }

            return false

        }

    }
}
</script>
