<template>
    <md-table>
        <md-table-header>
            <md-table-row>
                <md-table-head width="150px">ФИО</md-table-head>
                <md-table-head width="150px">Email</md-table-head>
                <md-table-head width="150px">Пароль</md-table-head>
                <md-table-head width="150px">Повтор пароля</md-table-head>
                <md-table-head width="150px">Права</md-table-head>
                <md-table-head width="150px"></md-table-head>
            </md-table-row>
        </md-table-header>
        <md-table-body>
            <md-table-row>
                <md-table-cell>
                    <md-input-container class="create__user" md-inline v-bind:class="{'md-input-invalid':error.name}">
                        <md-input v-model="user.name"></md-input>
                        <span class="md-error" v-for="err in error.name">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="creat__user" md-inline v-bind:class="{'md-input-invalid':error.email}">
                        <md-input v-model="user.email"></md-input>
                        <span class="md-error" v-for="err in error.email">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="creat__user" v-bind:class="{'md-input-invalid':error.password }">
                        <md-input type="password" v-model="user.password"></md-input>
                        <span class="md-error" v-if="error.pass">{{error.pass}}</span>
                        <span class="md-error" v-else v-for="err in error.password">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="creat__user" v-bind:class="{'md-input-invalid':error.repassword || error.pass }">
                        <md-input type="password" v-model="user.repassword"></md-input>
                        <span class="md-error" v-if="error.pass">{{error.pass}}</span>
                        <span class="md-error" v-else v-for="err in error.repassword">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="creat__user" v-bind:class="{'md-input-invalid':error.rules}">
                        <md-select v-model="user.rules">
                            <md-option value="0">Адм. гостиницы</md-option>
                            <md-option value="1">Адм. системы</md-option>
                        </md-select>
                        <span class="md-error" v-for="err in error.rules">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-button class="md-raised create__user__button" v-on:click.native="saveUser">
                        Сохранить
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table-body>
    </md-table>
</template>
<script>
import { post } from "../../helpers/axios"
import { get } from "../../helpers/axios"
import Auth from "../../store/auth"
import Flash from '../../helpers/flash'

export default {
    data() {
        return {
            user: {
                name: '',
                email: '',
                rules: '',
                password: '',
                repassword: '',
            },
            error: {},

        }
    },
    methods: {
        saveUser: function () {

            this.error = {}
            post('api/admin/createuser?token=' + Auth.state.api_token, this.user)
                .then((res) => {
                    Flash.setSuccess('Пользователь   добавлен!', this.user.name)
                })
                .catch((err) => {
                    if (err.response.data) {
                        this.error = err.response.data
                        Flash.setError('Неудалось сохранить пользователя!', this.user.name)
                    }
                })
            this.user = {}
        }
    },
}
</script>
<style scoped>
.create__user__button {
    width: 150px !important;
    justify-content: center;
}

</style>