 <template>
    <md-table>
        <md-table-header>
            <md-table-row>
                <md-table-head>ФИО</md-table-head>
                <md-table-head>Email</md-table-head>
                <md-table-head>Пароль</md-table-head>
                <md-table-head>Повтор пароля</md-table-head>
                <md-table-head>Права</md-table-head>
                <md-table-head>Время авторизации</md-table-head>
                <md-table-head width="150px"></md-table-head>
            </md-table-row>
        </md-table-header>
        <md-table-body>
            <md-table-row v-for="row in editUsers" :key="row.id">
                <md-table-cell>
                    <md-input-container class="edit__user" md-inline v-bind:class="{'md-input-invalid':errorEditUser.name && errorEditUser.id == row.id}">
                        <md-input :value="row.name" v-model="row.name"></md-input>
                        <span class="md-error" v-for="err in errorEditUser.name">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="edit_user" md-inline v-bind:class="{'md-input-invalid':errorEditUser.email && errorEditUser.id ==row.id}">
                        <md-input :value="row.email" v-model="row.email"></md-input>
                        <span class="md-error" v-for="err in errorEditUser.email">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="edit_user" v-bind:class="{'md-input-invalid':errorEditUser.password && errorEditUser.id == row.id}">
                        <md-input type="password" v-model="row.password"></md-input>
                        <span class="md-error" v-for="err in errorEditUser.password">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="edit_user" v-bind:class="{'md-input-invalid':errorEditUser.repassword && errorEditUser.id == row.id || errorEditUser.pass  && errorEditUser.id == row.id}">
                        <md-input type="password" v-model="row.repassword"></md-input>
                        <span class="md-error" v-if="errorEditUser.pass">{{errorEditUser.pass}}</span>
                        <span class="md-error" v-if="errorEditUser.id == row.id" v-for="err in errorEditUser.repassword">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="edit_user">
                        <md-select v-model="row.rules[1]">
                            <md-option :value="0">Администратор гостиницы</md-option>
                            <md-option :value="1">Администратор системы</md-option>
                        </md-select>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell  class="edit_user">
                    <md-checkbox v-if="row.refreshDatet" v-model="row.resAuth">Сбросить авторизацию</md-checkbox>
                    <span>{{row.refreshDatet}}</span>
                </md-table-cell>
                <md-table-cell>
                    <md-button class="md-raised edit__user__button" @click.native="saveUsers(row)">
                        Изменить
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table-body>
    </md-table>
</template>
<script>
import { post } from "../../helpers/axios"
import { get } from "../../helpers/axios"
import Auth from "../../store/auth"
import Flash from '../../helpers/flash'

export default {
    data() {
        return {
            editUsers: [],
            errorEditUser: {
                id:''
            },
            editUserId: this.checkedId
        }
    },
    props: [
        'checkedId'
    ],
    methods: {
        getEditUser() {
            var UsersId = { UsersId: this.editUserId }
            post('api/admin/showusers/edituser?token=' + Auth.state.api_token, UsersId)
                .then((res) => {
                    this.editUsers = res.data.editusers
                })
                .catch((err) => {
                    if (err.response.data.editerror) {
                        Flash.setError(err.response.data.editerror)
                    }
                    console.log(err.response)
                })
        },
        saveUsers(row) {
            this.errorEditUser = {}
            post('api/admin/edituser?token=' + Auth.state.api_token, row)
                .then((res) => {
                    Flash.setSuccess(res.data.edit,res.data.user)
                })
                .catch((err) => {
                    console.log(err.response)
                    if (err.response.data) {                     
                        this.errorEditUser = err.response.data
                        this.errorEditUser.id = row.id
                    }
                    console.log(this.errorEditUser)
                })
        }
    },

    created() {
        this.getEditUser()
    }
}
</script>
<style>
.edit__user,
{
    margin-bottom: 40px;
}

.edit__user__button {
    width: 150px !important;
    justify-content: center;
}
</style>