<template>
  <md-card class="main-card">
  
    <md-tabs>
      <md-tab id="users" md-label="Пользователи">
        <md-table-card>
          <md-toolbar>
            <h2 class="md-title" style="flex: 1"></h2>
            <md-icon>search</md-icon>
            <input placeholder="Поиск..." type="text" v-model="searchQuery">
            <md-button v-if='checked' md-menu-trigger class="md-icon-button" v-on:click.native="editShow">
              <md-icon>edit</md-icon>
            </md-button>
  
            <md-button v-if="checked" md-menu-trigger class="md-icon-button" v-on:click.native="deleteUser">
              <md-icon>delete</md-icon>
            </md-button>
  
            <md-menu v-if="!showCreate" md-direction="bottom left" md-size="5">
              <md-button md-menu-trigger class="md-icon-button">
                <md-icon>filter_list</md-icon>
              </md-button>
  
              <md-menu-content>
                <md-menu-item v-on:click.native="filter(3)">Сбросить</md-menu-item>
                <md-menu-item v-on:click.native="filter(2)">Авторизированные пользователи</md-menu-item>
                <md-menu-item v-on:click.native="filter(1)">Администраторы системы</md-menu-item>
                <md-menu-item v-on:click.native="filter(0)">Администраторы гостиницы</md-menu-item>
              </md-menu-content>
            </md-menu>
  
            <md-button class="md-icon-button md-button" v-on:click.native="createShow">
              <md-icon>add</md-icon>
            </md-button>
  
          </md-toolbar>
  
          <md-table v-show="!showCreate && !showEdit">
            <md-table-header>
              <md-table-row>
                <md-table-head>
                  <input name="getAllCheck" id="main_checkbox" @click="toggleSelect" type="checkbox">
                </md-table-head>
                <md-table-head>ФИО</md-table-head>
                <md-table-head>Email</md-table-head>
                <md-table-head>Права</md-table-head>
                <md-table-head>Время авторизации</md-table-head>
              </md-table-row>
            </md-table-header>
            <md-table-body>
              <md-table-row v-for="row in  filteredData" :key="row.id">
                <md-table-cell>
                  <input v-model="checkedId" :value="row.id" class='checkbox_users' type="checkbox">
                </md-table-cell>
                <md-table-cell>
                  <span>{{row.name}}</span>
                </md-table-cell>
                <md-table-cell>
                  <span>{{row.email}}</span>
                </md-table-cell>
                <md-table-cell>
                  <span v-if="!row.rules[1]">{{row.rules[0]}}</span>
                  <span v-if="row.rules[1]">{{row.rules[0]}}</span>
                </md-table-cell>
                <md-table-cell>
                  <span>{{row.refreshDatet}}</span>
                </md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>
  
          <createUser v-if="showCreate"></createUser>
          <editUser v-if="showEdit" :checked-id="checkedId"></editUser>
  
        </md-table-card>
  
      </md-tab>
      <md-tab id="Rooms" md-label="Комнаты">
        <rooms></rooms>
      </md-tab>
      <md-tab id="Services" md-label="Услуги">
        <services></services>
      </md-tab>
  
    </md-tabs>
  </md-card>
</template>

<script>

import createuser from '../components/admin/createuser'
import edituser from '../components/admin/edituser'
import rooms from './rooms'
import services from './services'

import { post } from "../helpers/axios"
import { get } from "../helpers/axios"
import Auth from "../store/auth"
import Flash from '../helpers/flash'
import $ from 'jquery'





export default {


  data() {
    return {
      checkedId: [],
      searchQuery: '',
      showCreate: false,
      showEdit: false,
      error: {},
      users: '',
      allSelected: false
    }
  },
  components: {
    'rooms': rooms,
    'createUser': createuser,
    'editUser': edituser,
    'services': services
  },
  methods: {


    toggleSelect: function () {

      if (!this.allSelected) {
        for (var user in this.filteredData) {
          if ($.inArray(this.filteredData[user].id, this.checkedId) == -1) {
            this.checkedId.push(this.filteredData[user].id);
          }
        }
        this.allSelected = true;
      } else {
        this.checkedId = []
        this.allSelected = false;
      }
    },
    filter: function filter(value) {
      post('/api/admin/showusers/filter?token=' + Auth.state.api_token, { "value": value })
        .then((res) => {
          this.users = res.data.users
        })
        .catch((err) => {
          Flash.setError(err.response.data.filtererror)
        })
    },
    showusers() {
      get('/api/admin/showusers?token=' + Auth.state.api_token)
        .then((res) => {

          if (res.data.users) {

            this.users = res.data.users
          }
        })
        .catch((err) => {

          Flash.setError(err.response.data)
        })
    },
    editShow: function editShow() {
      if (this.showEdit) {
        this.searchQuery = ''
        this.checkedId = []
        if($('#main_checkbox').prop('checked')){
           $('#main_checkbox').click()
        }else if($('.checkbox_users').prop('checked')){
              $('.checkbox_rooms').prop('checked',false)
        }
        this.showEdit = false
        this.showusers()
      } else {
        this.showEdit = true
      }
    },
    deleteUser() {

      var deleteUsersId = { deleteUsersId: this.checkedId }

      post('api/admin/user/delete?token=' + Auth.state.api_token, deleteUsersId)
        .then((res) => {
          if (res.data.delete) {
            Flash.setSuccess('Пользователь удален')
            this.showusers()
          }
        })
        .catch((err) => {
          Flash.setError('Ошибка удаления')
        })
    },
    createShow() {
      if (this.showCreate) {
        this.showCreate = false
      } else {
        this.showCreate = true
      }
    },
  },
  computed: {
    checked() {
      if (Object.keys(this.checkedId).length) {
        return true
      }
      return false
    },
    filteredData: function () {
      var filterKey = this.searchQuery && this.searchQuery.toLowerCase()
      var data = this.users
      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
          })
        })
      }
      return data
    }
  },
  created() {
    this.showusers()

  },
}
</script>

<style scoped>
.main-card {
  box-shadow: none !important;
  border-radius: 0px !important;
}

.md-tabs,
.md-tab,
.toolbar {
  padding: 0;
}

.done_icon {
  width: 45px !important;
  height: 45px !important;
}

.checkbox_users, #main_checkbox{
  width: 18px;
  height: 18px;
  margin-top: 1px;
  position: relative;
  border-radius: 2px;
  border: 2px solid rgba(0, 0, 0, .54);
  transition: all .4s cubic-bezier(.25, .8, .25, 1);
}
</style>
