<template>
    <div>
        <md-table-card>
            <md-toolbar>
            <md-layout  md-flex-xsmall="50" md-flex-small="33" md-flex-medium="33" md-flex-large="10">
                                    <md-input-container id="filter_free">
                        <md-select v-model="selectFree" v-on:selected="onSelect($event,1)">
                            <md-option :value="0">Свободные</md-option>
                            <md-option :value="1">Занятые</md-option>
                        </md-select>
                    </md-input-container>
            </md-layout>
            <md-layout  md-flex-xsmall="25" md-flex-small="33" md-flex-medium="33" md-flex-large="10">
             <md-input-container id="filter_type">
                        <md-select v-model="selectType" v-on:selected="onSelect($event,2)">
                             <md-option :value="1">Стандарт</md-option>
                            <md-option :value="2">Полу-люкс</md-option>                       
                             <md-option :value="3">Люкс</md-option>
                            <md-option :value="4">Все</md-option>
                        </md-select>
                    </md-input-container>
            </md-layout>
            <md-layout  md-flex-xsmall="25" md-flex-small="33" md-flex-medium="33" md-flex-large="10">
            <md-input-container id="filter_person">
                        <md-select v-model="selectPerson" v-on:selected="onSelect($event,3)">
                            <md-option :value="1">Одно-ный</md-option>
                            <md-option :value="2">Двух-ный</md-option>
                            <md-option :value="3">Трех-ный</md-option>
                            <md-option :value="4">Все</md-option>
                        </md-select>
                    </md-input-container>
            </md-layout>
             <md-layout md-hide-small md-hide-xsmall md-hide-medium md-flex-large="70">
              </md-layout>

                <md-layout md-align="start">
                    <md-layout md-align="start">
                        <md-icon v-on:click.native="slideLeft()" class="slide__left md-size-2x md-primary">chevron_left</md-icon>
                    </md-layout>
                </md-layout>
                <md-layout md-align="center">
                    <md-layout md-align="center">
                        <h2>{{getDate.year}} год</h2>
                        <h2 class="months">{{month[0][0]}}</h2>
                        <h2 v-if="month[0][0] != month[1][0]" class="months">{{month[1][0]}}</h2>

                    </md-layout>
                </md-layout>
                <md-layout md-align="end">
                    <md-layout md-align="end">
                        <md-icon v-on:click.native="slideRight()" class="slide__right md-size-2x md-primary">chevron_right</md-icon>
                    </md-layout>
                </md-layout>
            </md-toolbar>
            <md-table id="table">
                <md-table-header>
                    <md-table-row class="table_header">
                        <md-table-head class="numb__column"> Номера</md-table-head>
                        <md-table-head class="date_row " v-for="row in  getDate.days" :key="row[2]">
                            <div v-if="row[5][1] == 1">{{row[2]}} <span class="red">{{row[5][0]}}</span></div>
                            <div v-else>{{row[2]}} {{row[5]}}</div>
                            <div>{{row[4]}}</div>
                        </md-table-head>
                    </md-table-row>
                </md-table-header>
                <md-table-body id="table_body">
                    <md-table-row class="row_main_con" v-for="(row,rowIndex) in getDateInfo" :key="rowIndex">

                        <md-table-cell class="number__rooms" v-if="row[0].number">
                            <div>№: <b>{{row[0].number}}.</b> Мст: <b>{{row[0].person}}</b></div>
                            <div>{{row[0].type[0]}}</div>
                        </md-table-cell>

                        <md-table-cell class="dinamicColl" v-for="(val, valIndex) in row[1]" :key="valIndex">

                            <div :id="val" v-if="val>0" v-on:click="showInfo(val)" class="iddiv orange"></div>

                            <div v-if="val == 0" v-on:click="showDialog(row[2][valIndex],row[0])" class="iddiv"></div>


                            <div v-if="val[0] && !val[1]" class="iddiv">
                                <div class="iddiv-width orange" v-on:click="showInfo(val[0])"></div>
                                <div class="iddiv-width" v-on:click="showDialog(row[2][valIndex],row[0])"></div>
                            </div>
                            <div v-if="val[1] && !val[0]" class="iddiv">
                                <div class="iddiv-width" v-on:click="showDialog(row[2][valIndex],row[0])"></div>
                                <div class="iddiv-width orange" v-on:click="showInfo(val[1])"></div>
                            </div>
                            <div v-if="val[0] && val[1]" class="iddiv">
                                <div class="iddiv-width-left orange" v-on:click="showInfo(val[0])"></div>
                                <div class="iddiv-space"></div>
                                <div class="iddiv-width-right orange" v-on:click="showInfo(val[1])"></div>
                            </div>
                        </md-table-cell>
                    </md-table-row>
                </md-table-body>
            </md-table>

        </md-table-card>
        <moduladduser v-bind:datein="datein" v-bind:errorinput="error" v-bind:clickroom="room" v-if="showModal" v-on:addnewuser="saveRoomer"
            v-on:closemodal="showDialog"></moduladduser>
        <moduluserinfo v-bind:users="userinfo" v-bind:errorinput="errorinfo" v-if="showUserInfo" v-on:pay="userPay" v-on:closeuserinfo="showInfo" v-on:edituser="editRoomer"></moduluserinfo>
    </div>
</template>



<script>
    import { post } from "../helpers/axios"
    import { get } from "../helpers/axios"


    import Flash from '../helpers/flash'
    import Auth from "../store/auth"
    import moduladduser from "../components/modaladduser"
    import moduluserinfo from "../components/modaluserinfo"
    import $ from 'jquery'

   
    

    export default {
        data() {
            return {
                selectType:4,
                selectPerson:4,
                selectFree: 0,
                getDate: {},
                rooms: {},
                getDateInfo: {},
                dateid: [],
                month: [],
                isActive: true,
                showModal: false,
                datein: '',
                error: {},
                room: 0,
                userinfo: {},
                showUserInfo: false,
                dateSum: 0,
                errorinfo: {},

            }
        },
        components: {
            "moduladduser": moduladduser,
            "moduluserinfo": moduluserinfo
        },
        methods: {
            onSelect(val,index){
                    if(index == 1){
                        this.selectFree = val
                    }else if(index == 2){
                         this.selectType = val
                    }else if(index == 3){
                         this.selectPerson = val
                    }                 
                    this.showDate(1)           
            },
            userPay(){
                
                var id = {id: this.userinfo.id}
                post('api/roomer/delete?token='+Auth.state.api_token,id)
                    .then((res)=>{
                         Flash.setSuccess('успешно','' + res.data.delete)
                         this.showDate(1)
                    })
                    .catch((err)=>{
                        Flash.setError(err.response.data.errorDel)
                    })
            },
            editRoomer() {
                this.error = {}
                post('api/roomer/editroomer?token=' + Auth.state.api_token, this.userinfo)
                    .then((res) => {
                        if (res.data.editroomer) {
                            Flash.setSuccess("обновлены!", "Данные пользователя: " + this.userinfo.name)
                            this.showDate(1)
                            this.getUserInfo(this.userinfo.id)
                        }
                    })
                    .catch((err) => {
                        if (err.response.data) {
                            this.errorinfo = err.response.data
                        }
                    })
            },
            getUserInfo(id){
                 get('api/showroomers/romerinfo/' + id + '/1/?token=' + Auth.state.api_token)
                        .then((res) => {
                            this.userinfo = res.data[0]
                            this.userinfo.dateSum = res.data.dateSum
                            this.userinfo.moneySum = res.data.money
                            this.userinfo.roomcost = res.data.room.cost
                            this.userinfo.date_out_time =  res.data.date_out_time
                            this.userinfo.date_in_time =  res.data.date_in_time
                            this.showUserInfo = true
                        })
                        .catch((err) => {
                            console.log(err.response)
                            this.showUserInfo = true
                        })
            },
            saveRoomer(newRoomer) {
                
                this.error = {}
                newRoomer.room = this.room
                var date_in = newRoomer.date_in
                newRoomer.date_in = newRoomer.date_in + ' ' + newRoomer.date_in_time;
                newRoomer.date_out = newRoomer.date_out + ' ' + newRoomer.date_out_time;

                post('api/roomer/saveroomer?token=' + Auth.state.api_token, newRoomer)
                    .then((res) => {                  
                        this.showDate(1)
                        if (res.data.saveRoomer) {
                            Flash.setSuccess(newRoomer.name + " добавлен!")
                            this.newRoomer = {}
                        }
                        this.showModal = false
                    })
                    .catch((err) => {
                        newRoomer.date_in = date_in;
                        this.error = err.response.data
                        if (err.response.data.saveRoomerError) {
                            Flash.setError(err.response.data.saveRoomerError, "Ошибка")
                        }
                    })
                    
            },
            slideLeft(val) {
                var lastday = this.getDate.days[0][3];
                var filter =  this.selectFree +'/'+ this.selectType+'/'+ this.selectPerson
                get('/api/showdate/' + filter +'/'+ lastday + '/1?token=' + Auth.state.api_token)
                    .then((res) => {
                        this.getDate = res.data.date
                        this.getDateInfo = res.data.date.rooms
                        this.month = this.getDate.month
                        for (var i in this.getDateInfo) {
                            for (var a in this.getDateInfo[i]) {
                                if (a == 1) {
                                    this.dateid[i] = this.getDateInfo[i][1]
                                }
                            }
                        }

                    })
                    .catch((err) => {
                        console.log(err.response)
                    })
            },
            slideRight() {
                var l = this.getDate.days.length
                var lastday = this.getDate.days[l - 1][3];
                var filter =  this.selectFree +'/'+ this.selectType+'/'+ this.selectPerson
                get('/api/showdate/' + filter + '/' + lastday + '?token=' + Auth.state.api_token)
                    .then((res) => {
                        this.getDate = res.data.date
                        this.getDateInfo = res.data.date.rooms
                        this.month = this.getDate.month
                        for (var i in this.getDateInfo) {
                            for (var a in this.getDateInfo[i]) {
                                if (a == 1) {
                                    this.dateid[i] = this.getDateInfo[i][1]
                                }
                            }
                        }

                    })
                    .catch((err) => {
                        console.log(err.response)
                    })
            },
            showDate(val = null) {

                var url
                var lastday;
                var filter =  this.selectFree +'/'+ this.selectType+'/'+ this.selectPerson

                if(val == null){
                    url = '/api/showdate/'+filter + '/?token='
                }else{
                    var d = this.getDate.days[0][2] - 1;
                    var m = this.getDate.days[0][1];
                    var y = this.getDate.days[0][0];
                    var lastday = y+"-"+m+"-"+d
                    url = '/api/showdate/'+filter+'/'+lastday+ '/?token='
                }
                
                get(url + Auth.state.api_token)
                    .then((res) => {
                        this.getDate = res.data.date
                        this.getDateInfo = res.data.date.rooms
                        this.month = this.getDate.month
                        for (var i in this.getDateInfo) {
                            for (var a in this.getDateInfo[i]) {
                                if (a == 1) {
                                    this.dateid[i] = this.getDateInfo[i][1]
                                }
                            }
                        }                
                    })
                    .catch((err) => {
                        console.log(err.response.data.error)
                    })
            },
            showInfo(id) {
                this.userinfo = {}
                this.errorinfo = {}
                if (this.showUserInfo == false) {
                   this.getUserInfo(id)
                } else {                
                    this.showUserInfo = false
                    this.userinfo = {}
                    this.errorinfo = {}
                }
            },
            showDialog(val, room) {

                if (this.showModal == false) {
                    this.datein = val[3]
                    this.room = room.number
                    this.showModal = true;
                } else {
                    this.showModal = false
                }

            }
        },
        created() {
            this.showDate() 
        },
    }

    

</script>


<style>
    .slide__left,
    .slide__right {
        cursor: pointer;
    }

    .md-toolbar {
        padding: 0px 16px !important;
    }

    .months {
        padding-left: 16px;
    }


    .dinamicColl {
        border-right: 0.2px solid gainsboro;
    }

    .table_header,
    .number__rooms {
        background-color: #eee;
        border-right: 0.2px solid gainsboro;
    }

    .date_row {
        color: black !important;
        border-right: 0.2px solid gainsboro;
        text-align: center;
        vertical-align: middle;
    }

    .date_row .md-table-head-text {
        padding-right: 0 !important;
        padding-left: 0 !important;
        height: 56px !important;
    }

    .date_row .md-table-head-container {
        text-align: center;
        padding: 0px;
    }

    .number__rooms {
        text-align: center;
        vertical-align: middle;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0, 0 1px 5px 0 rgba(0, 0, 0, .12)!important;
        color: black;
    }

    .numb__column {
        background-color: grey;
        width: 200px !important;
        color: black;
    }

    .numb__column .md-table-head-container {

        text-align: center;
        vertical-align: middle;
        color: white;
    }

    .dinamicColl .md-table-cell-container,
    .dinamicColl {
        padding: 0 !important;
    }

    .dinamicColl {}

    .iddiv-space {
        width: 30px;
        background-color: white;
        float: left;
        height: 48px;
        cursor: default;
    }

    .iddiv-width-left {
        float: left;
        height: 48px;
        width: 20.5px;
        cursor: pointer;
    }

    .iddiv-width-right {
        float: left;
        height: 48px;
        width: 20.5px;
        cursor: pointer;
    }

    .iddiv {
        height: 48px;
        width: 71px;
        cursor: pointer;
    }

    .iddiv-width {
        float: left;
        height: 48px;
        width: 35.5px;
        cursor: pointer;
    }

    .orange {
        background: orange;
    }

    .red {
        color: red;
    }
    #filter_free,#filter_type,#filter_person{
        margin: 0px 10px 0px 0px !important;
    }
    .md-select{
        min-width: 48px !important;
    }
</style>