<template>
  <md-layout class="modal-mask" md-align="center">
    <md-layout class="modal-wrapper" >
      <md-card class="modal-container">
        <md-card-header>
          <div class="md-title">Войти</div>
  
        </md-card-header>
  
        <form>
          <md-card-content>
  
            <md-input-container v-bind:class="{'md-input-invalid':error.email}">
              <label>Email</label>
  
              <md-input v-if="check" v-model="form.email"></md-input>
              <md-input v-if="!check" disabled v-model="form.email"></md-input>
              <span class="md-error" v-for="err in error.email">{{err}}</span>
  
            </md-input-container>
  
            <md-input-container v-bind:class="{'md-input-invalid':error.password}">
              <label>Password</label>
  
              <md-input v-if="check" type='password' v-model="form.password"></md-input>
              <md-input v-if="!check" disabled type='password' v-model="form.password"></md-input>
              <span class="md-error" v-for="err in error.password">{{err}}</span>
  
            </md-input-container>
  
          </md-card-content>
  
          <md-card-actions v-if="check" class='button'>
            <button class="md-button md-raised" v-on:click="login" :disabled="isProcessing">Войти</button>
          </md-card-actions>
          <md-card-actions v-if="!check" class='button'>
            <button class="md-button md-raised" v-on:click="logout">Выйти</button>
          </md-card-actions>
  
        </form>
  
      </md-card>
    </md-layout>
  </md-layout>
</template>

<script type="text/javascript">
import { post } from '../helpers/axios.js'
import Flash from '../helpers/flash'
import Auth from '../store/auth.js'
export default {
  data() {
    return {
      form: {
        email: '',
        password: '',
        datetime: ''
      },
      error: {},
      isProcessing: false,
      auth: Auth.state,

    }
  },
  computed: {

    check() {

      if (this.auth.api_token  && this.auth.user_id && this.auth.user_name) {
        return false
      }

      return true

    }

  },
  methods: {
    logout(){
      Auth.remove()
    },
    login() {
      this.$Progress.start()
      this.isProcessing = true
      this.error = {}
      if (!this.auth.api_token && !this.auth.user_id && !this.auth.user_name) {
        post('/api/login', this.form)
          .then((res) => {
            
            this.$Progress.finish()
            if (res.data.auth) {

              Auth.set(res.data.token, res.data.user_id, res.data.user_name, res.data.rules)
              Flash.setSuccess('Успешно авторизовался!')
              
              this.$emit('auth',false)
              this.$router.push('/')


            }
           this.isProcessing = false
          })
          .catch((err) => {
            this.$Progress.fail()
            if(err.response.data.autherror){
              Flash.setError(err.response.data.autherror)
            }
            if (err.response.data) {
              this.error = err.response.data
            }
            this.isProcessing = false
          })
      } else {
        Flash.setError('Вы уже авторизованны!')
        this.$router.push('/')
      }
    }
  }
}
</script>


<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  max-width: 400px;
  width: 100%;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.md-card-header {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, .87);
}

.md-card-actions {
  background-color: #3f51b5;
}

.button {

  justify-content: center;
}

.md-button {
  background-color: white;
  color: #3f51b5;
  max-width: 200px;
  width: 100%;
}

.md-button:hover {
  background-color: rgba(255, 255, 255, .87) !important;
}
</style>