<template>
    <md-layout>
        <md-layout md-column md-flex-xsmall="40" md-flex-small="50" md-flex-medium="50" md-flex-large="70">
            <md-table-card id="main__info">
                <md-toolbar>
                    <h2 class="md-title" style="flex: 1"></h2>
                    <md-icon>search</md-icon>
                    <input placeholder="Поиск..." type="text" v-model="searchQuery">
                </md-toolbar>
                <md-table>
                    <md-table-header>
                        <md-table-row class="main_table_hader">
                            <md-table-head>ФИО</md-table-head>
                            <md-table-head>Паспорт</md-table-head>
                            <md-table-head>Прописка</md-table-head>
                            <md-table-head>Телефон</md-table-head>
                        </md-table-row>
                    </md-table-header>
                    <md-table-body>
                        <md-table-row v-for="row in filteredData" :key="row.id" class="row__data">

                            <md-table-cell>
                                <a v-on:click="checked(row.id)">
                                    <span>{{row.name}}</span>
                                </a>
                            </md-table-cell>

                            <md-table-cell>
                                <span>{{row.passport}}</span>
                            </md-table-cell>
                            <md-table-cell>
                                <span>{{row.address}}</span>
                            </md-table-cell>
                            <md-table-cell>
                                <span>{{row.phone}}</span>
                            </md-table-cell>

                        </md-table-row>
                    </md-table-body>
                </md-table>
            </md-table-card>
        </md-layout>
        <md-layout md-column md-flex-xsmall="60" md-flex-small="50" md-flex-medium="50" md-flex-large="30">
            <md-tabs @change="tabChang($event)">
                <md-tab md-label="Инфо" :md-active="active">
                    <md-card id="info" v-if="this.roomer">


                        <md-list id="info_list">
                            <md-subheader>Комментарий</md-subheader>
                            <md-list-item>
                                <span> {{ roomer[0].coment}}</span>
                            </md-list-item>

                            <md-list-item>
                                <span>Сумма: {{ roomer[0].value_cost}}</span>
                            </md-list-item>

                            <md-list-item>
                                <span>Комната: {{ roomer[0].number}}</span>
                            </md-list-item>

                            <md-list-item>
                                <span>Дата заселения: {{ roomer[0].date_in[0]}} {{roomer.date_in_time}}</span>
                            </md-list-item>
                            <md-list-item>
                                <span>Дата выселения: {{ roomer[0].date_out[0]}}  {{roomer.date_out_time}}</span>
                            </md-list-item>
                        </md-list>

                    </md-card>
                    <md-card id="info" v-else>
                    </md-card>
                </md-tab>
                <md-tab md-label="Добавить" id="add_roomer">
                    <md-card id="add__roomer" v-if="!showModalRoom">
                        <md-list>
                            <md-list-item>
                                <md-input-container>
                                    <label>Доп. инфо</label>
                                    <md-textarea maxlength="70" v-model="newRoomer.coment"></md-textarea>
                                </md-input-container>
                            </md-list-item>
                        </md-list>
                        <md-layout>
                            <md-layout md-column>
                                <md-list>
                                    <md-list-item>
                                        <md-input-container>
                                            <label>Имя</label>
                                            <md-input v-model="newRoomer.name"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-input-container>
                                            <label>Номер паспорта</label>
                                            <md-input v-model="newRoomer.passport"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-input-container>
                                            <label>Дата заселения</label>
                                            <md-input type="date" v-model="newRoomer.date_in"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-input-container>
                                            <label>Дата выселения</label>
                                            <md-input type="date" v-model="newRoomer.date_out"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-button @click.native="showModalRoom = true">Комната: {{newRoomer.room}}</md-button>
                                    </md-list-item>
                                </md-list>
                            </md-layout>
                            <md-layout md-column>
                                <md-list>
                                    <md-list-item>
                                        <md-input-container>
                                            <label>Телефон</label>
                                            <md-input v-model="newRoomer.phone"></md-input>
                                        </md-input-container>
                                    </md-list-item>

                                    <md-list-item>
                                        <md-input-container>
                                            <label>Аванс</label>
                                            <md-input v-model="newRoomer.value_cost"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-input-container>
                                            <md-input type="time" v-model="newRoomer.date_in_time"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-input-container>
                                            <md-input type="time" v-model="newRoomer.date_out_time"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-input-container>
                                            <label>Адрес</label>
                                            <md-input v-model="newRoomer.address"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                </md-list>
                            </md-layout>
                        </md-layout>
                        <md-list>
                            <md-list-item>
                                <md-button :disabled="checkedNewRoomer" class="md-raised md-primary" @click.native="openDialog('dialog1')">Добавить</md-button>
                            </md-list-item>
                        </md-list>
                    </md-card>
                    <md-card id="add__roomer" v-else>
                        <md-layout>
                            <md-layout md-column id="filter_person">
                                <md-input-container>
                                    <md-select v-model="selectType" v-on:selected="onSelect($event,2)">
                                        <md-option :value="1">Стандарт</md-option>
                                        <md-option :value="2">Полу-люкс</md-option>
                                        <md-option :value="3">Люкс</md-option>
                                        <md-option :value="4">Все</md-option>
                                    </md-select>
                                </md-input-container>
                            </md-layout>
                            <md-layout md-column id="filter_type">
                                <md-input-container>
                                    <md-select v-model="selectPerson" v-on:selected="onSelect($event,3)">
                                        <md-option :value="1">Одно-ный</md-option>
                                        <md-option :value="2">Двух-ный</md-option>
                                        <md-option :value="3">Трех-ный</md-option>
                                        <md-option :value="4">Все</md-option>
                                    </md-select>
                                </md-input-container>
                            </md-layout>
                        </md-layout>
                         <md-layout>
                            <md-layout md-column>
                        <md-list>

                            <md-list-item v-if="freeRooms != null" v-for="row in freeRooms" :key="row.id">
                                <button class="md-button" v-on:click.nativ="selectRoom(row.number)">Номер: {{row.number}}</button>
                            </md-list-item>
                            </md-list>
                        </md-layout>
                        <md-layout md-column>
                        <md-list>
                             <md-list-item v-if="roomsRoomers != null" v-for="row in  roomsRoomers" :key="row.id">
                                <button class="md-button" v-on:click.nativ="selectRoom(row.number,row.free)">Номер: {{row.number}}</button>
                                <span>{{row.free[0]}}</span>
                            </md-list-item>
                        </md-list>
                        </md-layout>
                        </md-layout>
                         <md-list>
                            <md-list-item v-if="freeRooms == null && roomsRoomers == null">
                                <span>Свободных комнат нет</span><button class="md-button" v-on:click.nativ="showModalRoom = false">Назад</button>
                            </md-list-item>
                            </md-list>
                        

                    </md-card>
                    <md-dialog-confirm md-title="Добавить?" :md-content-html=" newRoomerString" md-ok-text="Да" md-cancel-text="Нет" @close="onClose"
                        ref="dialog1">
                    </md-dialog-confirm>
                </md-tab>
                <md-tab md-label="Редактировать">
                    <md-card id="edit__roomer" v-if="this.roomer">
                        <md-list>
                            <md-list-item>
                                <md-input-container>
                                    <label>Доп. инфо</label>
                                    <md-textarea maxlength="70" v-model="roomer[0].coment"></md-textarea>
                                </md-input-container>
                            </md-list-item>
                            <md-list-item>
                                <md-input-container>
                                    <label>Адрес</label>
                                    <md-textarea v-model="roomer[0].address"></md-textarea>
                                </md-input-container>
                            </md-list-item>
                        </md-list>
                        <md-layout>
                            <md-layout md-column>
                                <md-list>
                                    <md-list-item>
                                        <md-input-container>
                                            <label>Дата выселения</label>
                                            <md-input type="date" v-model="roomer[0].date_out[1]"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-input-container>
                                            <label>Имя</label>
                                            <md-input v-model="roomer[0].name"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-input-container>
                                            <label>Номер паспорта</label>
                                            <md-input v-model="roomer[0].passport"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-input-container>
                                            <label>Телефон</label>
                                            <md-input v-model="roomer[0].phone"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                </md-list>
                            </md-layout>
                            <md-layout md-column>
                                <md-list>
                                    <md-list-item>
                                        <md-input-container>
                                            <md-input type="time" v-model="roomer.date_out_time"></md-input>
                                        </md-input-container>
                                    </md-list-item>
                                </md-list>
                            </md-layout>
                        </md-layout>
                        <md-list>
                            <md-list-item>
                                <md-button class="md-raised md-primary" @click.native="editRoomer()">Обновить</md-button>
                            </md-list-item>
                        </md-list>
                    </md-card>
                    <md-card id="edit__roomer" v-else>
                    </md-card>
                </md-tab>
                <md-tab md-label="Расчет">
                    <md-card id="edit__roomer" v-if="this.roomer">
                        <md-layout>
                            <md-layout md-column>
                                <md-list>
                                    <md-list-item>
                                        <span>Комната: {{roomer.room.number}}</span>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                    <md-list-item>
                                        <span>Цена комнаты: {{roomer.room.cost}}</span>
                                    </md-list-item>
                                    <md-list-item>
                                        <span>Без доп. услуг: {{roomer.money}}</span>
                                    </md-list-item>
                                    <md-list-item>
                                        <span>Всего: {{saveMoney}}</span>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                    <md-subheader>Доп услуги</md-subheader>
                                    <!--<md-list-item v-for="(val,valIndex) in  services" :key="valIndex">
                                        <md-checkbox @change="change($event,valIndex)">{{val.name}}</md-checkbox>
                                        <md-input-container>
                                            <md-input @change="changeCount($event,valIndex)" :disabled="checkVal(valIndex)" v-model="val.count" :value="val.count" min="1"
                                                size="3" type="number"></md-input>
                                        </md-input-container>
                                        <div style="margin-left:5px;">{{val.costChange}}</div>
                                        <md-divider></md-divider>
                                    </md-list-item>-->
                                    <md-list-item>
                                        <md-button class="md-raised md-primary" v-on:click.native="pay()">Рассчитать</md-button>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-button class="md-raised md-primary" v-on:click.native="pay()">Рассчитать</md-button>
                                    </md-list-item>
                                </md-list>
                            </md-layout>
                            <md-layout md-column md-gutter>
                                <md-list>
                                    <md-list-item>
                                        <span>Всего дней: {{roomer.dateSum}}</span>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                    <md-list-item>
                                        Дата заселения:
                                         </md-list-item>
                                          <md-list-item>
                                        {{roomer[0].date_in[0]}}
                                         </md-list-item>
                                          <md-list-item>
                                        Время: {{roomer.date_in_time}}
                                        <md-divider></md-divider>
                                    </md-list-item>
                                     <md-list-item>
                                        Дата заселения:
                                         </md-list-item>
                                          <md-list-item>
                                        {{roomer[0].date_out[0]}}
                                         </md-list-item>
                                          <md-list-item>
                                        Время: {{roomer.date_out_time}}
                                    </md-list-item>

                                </md-list>
                            </md-layout>
                        </md-layout>
                    </md-card>
                    <md-card id="delete__roomer" v-else>
                    </md-card>
                </md-tab>
            </md-tabs>
        </md-layout>
    </md-layout>
</template>
<script>

//import createroom from '../components/romers/createroom'
//import editroom from '../components/admin/editroom'

import { post } from "../helpers/axios"
import { get } from "../helpers/axios"
import Flash from '../helpers/flash'
import Auth from "../store/auth"

import $ from 'jquery'

export default {
    data() {
        return {
            services: [{
                        name: "Прачечная",
                        cost: 500,
                        count: "1",
                        id: "1",
                        show: false,
                        costChange: 500
                    }
                ],
            searchQuery: '',
            showCreate: false,
            showEdit: false,
            allSelected: false,
            roomers: {},
            roomer: '',
            newRoomerString: 'asd',
            error: {},
            newRoomer: {
                name: '',
                passport: '',
                phone: '',
                coment: '',
                room: null,
                address: '',
                date_in: '',
                date_out: '',
                value_cost: 0,
                date_in_time: "00:00",
                date_out_time: "00:00"
            },
            costChange: 0,
            saveMoney: '',
            showModalRoom: false,
            selectType:4,
            selectPerson:4,
            freeRooms: {},
            roomsRoomers: {},
            active: false
        }
    },
    methods: {
        tabChang(val) {
                if (val != 0) {
                    this.active = false
                }
                this.showModalRoom = false
            },
            selectRoom(val,date = null) {
                this.newRoomer.room = val
                if(date != null){
                    this.newRoomer.date_in = date[1]
                    this.newRoomer.date_in_time = date[2]
                }
                this.showModalRoom = false
            },
            onSelect(val, index) {
                if (index == 2) {
                    this.selectType = val
                } else if (index == 3) {
                    this.selectPerson = val
                }
                this.showFreeRooms()
            },
            showFreeRooms() {
                var url = 'api/showfreerooms/' + this.selectType + '/' + this.selectPerson + '?token=' + Auth.state.api_token
                get(url)
                    .then((res) => {
                        if (Object.keys(res.data.freeRooms).length == 0 
                        && Object.keys(res.data.roomsRoomers).length == 0) {
                            this.freeRooms = null
                            this.roomsRoomers = null
                        } else {
                            this.freeRooms = res.data.freeRooms
                            this.roomsRoomers = res.data.roomsRoomers
                        }
                    })
            },
            pay() {
                
                var id = {
                    id: this.roomer[0].id
                }

                post('api/roomer/delete?token=' + Auth.state.api_token, id)
                    .then((res) => {
                        Flash.setSuccess('успешно', '' + res.data.delete)
                        this.showroomers()
                        this.roomer
                    })
                    .catch((err) => {
                        Flash.setError(err.response.data.errorDel)
                    })

                    this.roomer = ''
            },
            change(val, valIndex) {
                if (val == true) {
                    this.services[valIndex].show = true
                    this.сalculate()
                } else {
                    this.services[valIndex].show = false
                    this.services[valIndex].count = 1
                    this.services[valIndex].costChange = this.services[valIndex].cost
                    this.сalculate()

                }
            },
            changeCount(val, valIndex) {

                this.services[valIndex].costChange = this.services[valIndex].cost * val
                this.saveMoney += this.services[valIndex].costChange
            },
            checkVal(valIndex) {
                if (this.services[valIndex].show == true) {
                    return false
                }
                return true
            },
            сalculate() {
                this.costChange = 0
                for (var key in this.services) {
                    if (this.services[key].show == true) {
                        this.costChange += this.services[key].costChange
                    }
                }
                this.saveMoney = this.roomer.money + this.costChange
            },
            editRoomer() {
                this.error = {}
                
                this.roomer[0].date_out = this.roomer[0].date_out[1] + " " + this.roomer.date_out_time
                
                post('api/roomer/editroomer?token=' + Auth.state.api_token, this.roomer[0])
                    .then((res) => {
                        if (res.data.editroomer) {
                            Flash.setSuccess("обновлены!", "Данные пользователя: " + this.roomer[0].name)
                            this.showroomers()
                            this.checked(this.roomer[0].id)
                        }
                    })
                    .catch((err) => {
                        if (err.response.data) {
                            this.error = err.response.data
                        }
                    })
            },
            showStringData() {
                this.newRoomerString = "Имя: " + this.newRoomer.name + "</br>" +
                    "Паспорт: " + this.newRoomer.passport + "</br>" +
                    "Телефон: " + this.newRoomer.phone + "</br>"
            },
            openDialog(ref) {
                this.showStringData()
                this.$refs[ref].open();
            },
            onClose(type) {
                if (type != 'cancel') {
                    this.saveRoomer()
                }
            },
            checked(value) {
                get('api/showroomers/romerinfo/' + value + '/1/?token=' + Auth.state.api_token)
                    .then((res) => {
                        this.roomer = res.data
                        this.сalculate()
                    })
                    .catch((err) => {

                    })
                this.active = true
            },
            saveRoomer() {
                this.error = {}
                this.newRoomer.date_in = this.newRoomer.date_in + " " + this.newRoomer.date_in_time
                this.newRoomer.date_out = this.newRoomer.date_out + " " + this.newRoomer.date_out_time
                post('api/roomer/saveroomer?token=' + Auth.state.api_token, this.newRoomer)
                    .then((res) => {
                        if (res.data.saveRoomer) {
                            Flash.setSuccess(this.newRoomer.name + " добавлен!")
                            this.showroomers()
                            this.newRoomer.name = ''
                            this.newRoomer.passport = ''
                            this.newRoomer.phone = ''
                            this.newRoomer.coment = ''
                            this.newRoomer.room = null
                            this.newRoomer.address = ''
                            this.newRoomer.date_in = ''
                            this.newRoomer.date_out = ''
                            this.newRoomer.value_cost = null
                            this.newRoomer.date_in_time = "00:00"
                            this.newRoomer.date_out_time = "00:00"

                        }
                    })
                    .catch((err) => {
                        if (err.response.data.saveRoomerError) {
                            Flash.setError(err.response.data.saveRoomerError, "Ошибка")
                        }
                        if (err.response.data) {
                            this.error = err.response.data
                        }
                    })
            },
            showroomers() {
                get('/api/showroomers?token=' + Auth.state.api_token)
                    .then((res) => {
                        this.roomers = res.data.roomers
                    })
                    .catch((err) => {
                        Flash.setError("Обновите страницу!", err.response.data.AuthIn)
                    })
            },
        },
        computed: {
                filteredData: function () {
                    var filterKey = this.searchQuery && this.searchQuery.toLowerCase()
                    var data = this.roomers
                    if (filterKey) {
                        data = data.filter(function (row) {
                            return Object.keys(row).some(function (key) {
                                return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                            })
                        })
                    }
                    return data
                },
                checkedNewRoomer() {
                    if (this.newRoomer.name != '' && this.newRoomer.address != '' && this.newRoomer.passport != 0 &&
                        this.newRoomer.phone != '' && this.newRoomer.room != null && this.newRoomer.date_in != '' &&
                        this.newRoomer.date_out != '' && this.value_cost != "") {
                        return false
                    }
                    return true
                }
            },
            created() {
                this.showroomers()
            },

}
</script>

<style scoped>
.row__data a {
    cursor: pointer;
}

.date{
    margin-right: 20px;
}
#main__info {}
#filter_type,#filter_person{
        margin: 0px 10px 0px 10px !important;
    }

</style>