<template>
    <md-table-card>
        <md-toolbar>
            <h2 class="md-title" style="flex: 1"></h2>
            <md-icon>search</md-icon>
            <input placeholder="Поиск..." type="text" v-model="searchQuery">
    
            <md-button v-if="checked" md-menu-trigger class="md-icon-button" v-on:click.native="editShow">
                <md-icon>edit</md-icon>
            </md-button>
    
            <md-button v-if="checked" md-menu-trigger class="md-icon-button" v-on:click.native="deleteUser">
                <md-icon>delete</md-icon>
            </md-button>
    
            <md-menu v-if="!showCreate" md-direction="bottom left">
                <md-button md-menu-trigger class="md-icon-button">
                    <md-icon>filter_list</md-icon>
                </md-button>
    
                <md-menu-content>
                    <md-menu-item v-on:click.native="filter(1)">Стандарт</md-menu-item>
                    <md-menu-item v-on:click.native="filter(2)">Полу - люкс</md-menu-item>
                    <md-menu-item v-on:click.native="filter(3)">Люкс</md-menu-item>
                    <md-menu-item v-on:click.native="filter(4)">Сбросить</md-menu-item>
                </md-menu-content>
            </md-menu>
    
            <md-button class="md-icon-button md-button" v-on:click.native="createShow">
                <md-icon>add</md-icon>
            </md-button>
    
        </md-toolbar>
    
        <md-table v-show="!showCreate && !showEdit">
            <md-table-header>
                <md-table-row>
                    <md-table-head width="10px">
                        <input name="getAllCheck" id="main_checkbox_room" @click="toggleSelect" type="checkbox">
                    </md-table-head>
                    <md-table-head width="10px">Номер</md-table-head>
                    <md-table-head>Тип</md-table-head>
                    <md-table-head>Статус</md-table-head>
                    <md-table-head>Стоимость</md-table-head>
                    <md-table-head>Мест</md-table-head>
                </md-table-row>
            </md-table-header>
            <md-table-body>
                <md-table-row v-for="row in filteredData" :key="row.id">
                    <md-table-cell>
                        <input v-model="checkedRoomId" :value="row.id" class='checkbox_rooms' type="checkbox">
                    </md-table-cell>
                    <md-table-cell>
                        <span>{{row.number}}</span>
                    </md-table-cell>
                    <md-table-cell>
                        <span>{{row.type[0]}}</span>
                    </md-table-cell>
                    <md-table-cell>
                        <span>{{row.free[0]}}</span>
                    </md-table-cell>
                    <md-table-cell>
                        <span>{{row.cost}}</span>
                    </md-table-cell> 
                    <md-table-cell>
                        <span>{{row.person}}</span>
                    </md-table-cell> 
                </md-table-row>
            </md-table-body>
        </md-table>
    
        <createroom v-if="showCreate"></createroom>
        <editroom v-if="showEdit" :checked-room="checkedRoomId"></editroom>
    
    </md-table-card>
</template>
<script>

import createroom from '../components/admin/rooms/createroom'
import editroom from '../components/admin/rooms/editroom'

import { post } from "../helpers/axios"
import { get } from "../helpers/axios"
import Flash from '../helpers/flash'
import Auth from "../store/auth"
import $ from 'jquery'

export default {
    data() {
        return {
            checkedRoomId: [],
            searchQuery: '',
            showCreate: false,
            showEdit: false,
            allSelected: false,
            rooms: '',
        }
    },
    components: {
        'createroom': createroom,
        'editroom': editroom
    },
    methods: {
        toggleSelect: function () {

            if (!this.allSelected) {
                for (var room in this.filteredData) {
                    if ($.inArray(this.filteredData[room].id, this.checkedRoomId) == -1) {
                        this.checkedRoomId.push(this.filteredData[room].id);
                    }
                }
                this.allSelected = true;
            } else {
                this.checkedRoomId = []
                this.allSelected = false;
            }
        },
        filter: function filter(value) {
            post('/api/admin/showrooms/filter?token=' + Auth.state.api_token, { "value": value })
                .then((res) => {
                    this.rooms = res.data.rooms
                })
        },
        showrooms() {
            get('/api/admin/showrooms?token=' + Auth.state.api_token)
                .then((res) => {
                    this.rooms = res.data.rooms
                })
                .catch((err) => {
                    Flash.setError("Обновите страницу!", "Ошибка")
                })
        },
        editShow: function editShow() {
            if (this.showEdit) {
                this.searchQuery = ''
                this.checkedRoomId = []
                if ($('#main_checkbox_room').prop('checked')) {
                    $('#main_checkbox_room').click()
                } else if ($('.checkbox_rooms').prop('checked')) {
                    $('.checkbox_rooms').prop('checked',false)
                }
                this.showEdit = false
                this.showrooms()
            } else {
                this.showEdit = true
            }
        },
        deleteUser() {

            var deleteRoomId = { deleteRoomId: this.checkedRoomId }

            post('api/admin/room/delete?token=' + Auth.state.api_token, deleteRoomId)
                .then((res) => {
                    if (res.data.delete) {
                        this.showrooms()
                        Flash.setSuccess(res.data.delete)
                    }
                })
                .catch((err) => {
                    Flash.setError(err.response.data.deleteerror)
                })
        },
        createShow() {
            if (this.showCreate) {
                this.showCreate = false
                this.showrooms()
            } else {      
                this.showCreate = true
            }
        },
    },
    computed: {
        checked() {
            if (Object.keys(this.checkedRoomId).length) {
                return true
            }
            return false
        },
        filteredData: function () {
            var filterKey = this.searchQuery && this.searchQuery.toLowerCase()
            var data = this.rooms
            if (filterKey) {
                data = data.filter(function (row) {
                    return Object.keys(row).some(function (key) {
                        return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                    })
                })
            }
            return data
        }
    },
    created() {
        this.showrooms()
    }
} 
</script>
<style scoped>
.checkbox_rooms, #main_checkbox_room{
    width: 18px;
    height: 18px;
    margin-top: 1px;
    position: relative;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, .54);
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
}
</style>