<template>
    <md-table-card>
        <md-toolbar>
         <h2 class="md-title" style="flex: 1"></h2>  
        <md-icon>search</md-icon>
        <input placeholder="Поиск..." type="text" v-model="searchQuery"> 
        
            <md-button v-if="checked" md-menu-trigger class="md-icon-button" v-on:click.native="editShow">
                <md-icon>edit</md-icon>
            </md-button>
    
            <md-button v-if="checked" md-menu-trigger class="md-icon-button" v-on:click.native="deleteUser">
                <md-icon>delete</md-icon>
            </md-button>
    
            <md-button class="md-icon-button md-button" v-on:click.native="createShow">
                <md-icon>add</md-icon>
            </md-button>
    
        </md-toolbar>
    
        <md-table v-show="!showCreate && !showEdit">
            <md-table-header>
                <md-table-row>
                    <md-table-head width="10px">
                        <input name="getAllCheck" id="main_checkbox_serv" @click="toggleSelect" type="checkbox">
                    </md-table-head>
                    <md-table-head>Название</md-table-head>
                    <md-table-head>Стоимость</md-table-head>
                </md-table-row>
            </md-table-header>
            <md-table-body>
                <md-table-row v-for="row in filteredData" :key="row.id">
                    <md-table-cell>
                        <input v-model="checkedServiceId" :value="row.id" class='checkbox_serv' type="checkbox">
                    </md-table-cell>
                    <md-table-cell>
                        <span>{{row.name}}</span>
                    </md-table-cell>
                    <md-table-cell>
                        <span>{{row.cost}}</span>
                    </md-table-cell>
                </md-table-row>
            </md-table-body>
        </md-table>
    
        <createservice v-if="showCreate"></createservice>
        <editservice v-if="showEdit" :checked-service="checkedServiceId"></editservice>
    
    </md-table-card>
</template>
<script>

import createservice from "../components/admin/services/createservice.vue"
import editservice from "../components/admin/services/editservice.vue"

import { post } from "../helpers/axios"
import { get } from "../helpers/axios"
import Flash from '../helpers/flash'
import Auth from "../store/auth"
import $ from 'jquery'

export default {
    data() {
        return {
            checkedServiceId: [],
            searchQuery: '',
            showCreate: false,
            showEdit: false,
            allSelected: false,
            service: '',
        }
    },
    components: {
        'createservice': createservice ,
        'editservice': editservice
    },
    methods: {
        toggleSelect: function () {

            if (!this.allSelected) {
                for (var service in this.filteredData) {
                    if ($.inArray(this.filteredData[service].id, this.checkedServiceId) == -1) {
                        this.checkedServiceId.push(this.filteredData[service].id);
                    }
                }
                this.allSelected = true;
            } else {
                this.checkedServiceId = []
                this.allSelected = false;
            }
        },
        showservice() {

            get('/api/admin/showservice?token=' + Auth.state.api_token)
                .then((res) => {
                    this.service = res.data.services
                })
                .catch((err) => {
                    Flash.setError("Обновите страницу!", "Ошибка")
                })
        },
        editShow: function editShow() {
            if (this.showEdit) {
                this.searchQuery = ''
                this.checkedServiceId = []
                if ($('#main_checkbox_serv').prop('checked')) {
                    $('#main_checkbox_serv').click()
                } else if ($('.checkbox_serv').prop('checked')) {
                     $('.checkbox_serv').prop('checked',false)
                }
                this.showEdit = false
                this.showservice()
            } else {
                this.showEdit = true
            }
        },
        deleteUser() {

            var deleteServiceId = { deleteServiceId: this.checkedServiceId }

            post('api/admin/room/delete?token=' + Auth.state.api_token, deleteServiceId)
                .then((res) => {
                    if (res.data.delete) {
                        this.showservice()
                        Flash.setSuccess(res.data.delete)
                    }
                })
                .catch((err) => {
                    Flash.setError(err.response.data.deleteerror)
                })
        },
        createShow() {
            if (this.showCreate) {
                this.showCreate = false
                this.showservice()
            } else {      
                this.showCreate = true
            }
        },
    },
    computed: {
        checked() {
            if (Object.keys(this.checkedServiceId).length) {
                return true
            }
            return false
        },
        filteredData: function () {
            var filterKey = this.searchQuery && this.searchQuery.toLowerCase()
            var data = this.service
            if (filterKey) {
                data = data.filter(function (row) {
                    return Object.keys(row).some(function (key) {
                        return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                    })
                })
            }
            return data
        }
    },
    created() {
        this.showservice()
    }
} 
</script>
<style scoped>
.checkbox_serv, #main_checkbox_serv{
    width: 18px;
    height: 18px;
    margin-top: 1px;
    position: relative;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, .54);
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
}
</style>