<template>
    <md-table>
        <md-table-header>
            <md-table-row>
                <md-table-head>Название</md-table-head>
                <md-table-head>Стоимость</md-table-head>
            </md-table-row>
        </md-table-header>
        <md-table-body>
            <md-table-row>
                <md-table-cell>
                    <md-input-container class="create__services" md-inline v-bind:class="{'md-input-invalid':error.name}">
                        <md-input v-model="services.name"></md-input>
                        <span class="md-error" v-for="err in error.name">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="creat__services" md-inline v-bind:class="{'md-input-invalid':error.cost}">
                        <md-input v-model="services.cost"></md-input>
                        <span class="md-error" v-for="err in error.cost">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-button class="md-raised create__services__button" v-on:click.native="saveUser">
                        Сохранить
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table-body>
    </md-table>
</template>
<script>
import { post } from "../../../helpers/axios"
import { get } from "../../../helpers/axios"
import Auth from "../../../store/auth"
import Flash from '../../../helpers/flash'

export default {
    data() {
        return {
            services: {
                name: '',
                cost: 0,
            },
            error: {},
        }
    },
    methods: {
        saveUser: function () {
            this.error = {}
            post('api/admin/createservise?token=' + Auth.state.api_token, this.services)
                .then((res) => {
                    if(res.data.saveSevice == true){
                         Flash.setSuccess('Услуга добавлена', this.services.name)
                         this.services.name = ""
                         this.services.cost = 0
                    }          
                })
                .catch((err) => {
                    if (err.response.data.saveSevice == false) {
                        this.error = err.response.data
                        Flash.setError('Неудалось сохранить!',  this.services.name)
                    }
                })
        }
    },
}
</script>
<style scoped>
.create__services__button {
    width: 150px !important;
    justify-content: center;
}
</style>