 <template>
    <md-table>
        <md-table-header>
            <md-table-row>
                <md-table-head>Название</md-table-head>
                <md-table-head>Цена</md-table-head>
                <md-table-head width="150px"></md-table-head>
            </md-table-row>
        </md-table-header>
        <md-table-body>
            <md-table-row v-for="row in editService" :key="row.id">
                <md-table-cell>
                    <md-input-container class="edit__service" md-inline v-bind:class="{'md-input-invalid':errorEditService.name && errorEditService.id == row.id}">
                        <md-input :value="row.name" v-model="row.name"></md-input>
                        <span class="md-error" v-for="err in errorEditService.name">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="edit__service" md-inline v-bind:class="{'md-input-invalid':errorEditService.email && errorEditService.id ==row.id}">
                        <md-input :value="row.email" v-model="row.cost"></md-input>
                        <span class="md-error" v-for="err in errorEditService.cost">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-button class="md-raised edit__service__button" @click.native="saveUsers(row)">
                        Изменить
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table-body>
    </md-table>
</template>
<script>
import { post } from "../../../helpers/axios"
import { get } from "../../../helpers/axios"
import Auth from "../../../store/auth"
import Flash from '../../../helpers/flash'

export default {
    data() {
        return {
            editService: [],
            errorEditService: {
                id:''
            },
            editServiceId: this.checkedService
        }
    },
    props: [
        'checkedService'
    ],
    methods: {
        getEditUser() {
            var ServiceId = { ServiceId: this.editServiceId }
            post('api/admin/editservise?token=' + Auth.state.api_token, ServiceId)
                .then((res) => {                   
                        this.editService = res.data.editservice
                })
                .catch((err) => {
                    if (err.response.data.editservice === false) {
                        Flash.setError('Ошибка получения данных от сервера (Services)')
                    }
                })
        },
        saveUsers(row) {
            this.errorEditService = {}
            post('api/admin/showservice/edit?token=' + Auth.state.api_token, row)
                .then((res) => {
                    if(res.data.editSevice == true){
                    Flash.setSuccess("Данные обновлены")
                    }
                })
                .catch((err) => {
                    console.log(err.response)
                    if (err.response.data) {                     
                        this.errorEditService = err.response.data
                        this.errorEditService.id = row.id
                    }
                })
        }
    },

    created() {
        this.getEditUser()
    }
}
</script>
<style>
.edit__service,
{
    margin-bottom: 40px;
}

.edit__service__button {
    width: 150px !important;
    justify-content: center;
}
</style>