<template>
  <div>
  
    <toolbar></toolbar>
    <message></message>
    <login v-if='check' @auth="toggleShowLogin"></login>
    <router-view v-if='!check'></router-view>
  
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>

import toolbar from './components/toolbar'
import message from './components/message'
import Flash from './helpers/flash'
import Auth from './store/auth'
import TokenError from './store/error'
import { post } from './helpers/axios'
import login from './views/login'


export default {

  data() {
    return {
      auth: Auth.state,

      err: TokenError.state,
      time: 1000,
      maintaimer: null,
      errortimer: null,
      timeerror: null,
      succestimer: null,
      showlogin: false
    }
  },

  components: {

    'toolbar': toolbar,
    'message': message,
    'login': login


  },
  computed: {

    check() {
        if (this.showlogin == true) {
          return true
        }
      return false
    }

  },
  methods: {
    toggleShowLogin(value) {
      this.showlogin = value
    },
    refreshToken: function refreshToken(then) {
      post('api/refreshtoken?token=' + Auth.state.api_token)
        .then((res) => {


          if (this.errortimer != null) {
            clearTimeout(this.errortimer)
          }
          if (res.data.auth) {
            if (this.timeerror != null) {
              clearTimeout(this.timeerror)
            }
            Auth.set(res.data.refreshToken, res.data.user_id, res.data.user_name, res.data.rules)
            console.log('Токен обновлен')
            this.time = 1000 * 10
            this.succestimer = setTimeout(refreshToken, this.time, then)
          }

          if (res.data.timeErr) {
            if (this.succestimer != null) {
              clearTimeout(this.timeerror)
            }

            this.time = 1000 * 10
            console.log('Время обновления не наступило')
            //console.log(res.data.timeErr)
            then.timer = 1000 * res.data.timeErr
           // console.log(then.timer)
            this.timeerror = setTimeout(refreshToken, then.timer, then)
          }
        })
        .catch((err) => {
          then.showlogin = true
          if (this.timeerror != null) {
            clearTimeout(this.timeerror)
          }
          if (this.succestimer != null) {
            clearTimeout(this.succestimer)
          }
          if (err.response.data.error) {
            console.log('Токен просрочен')

            Auth.remove()
            this.time = 1000 * 10
            this.errortimer = setTimeout(refreshToken, this.time, then)
          }
        })
    }
  },
  created: function () {
    Auth.initialize()
    this.maintaimer = setTimeout(this.refreshToken(this), this.time)
  }
}


</script>

