<template>
    <md-table>
        <md-table-header>
            <md-table-row>
                <md-table-head>Номер</md-table-head>
                <md-table-head>Стоимость</md-table-head>
                <md-table-head>Мест</md-table-head>
                 <md-table-head>Тип</md-table-head>
            </md-table-row>
        </md-table-header>
        <md-table-body>
            <md-table-row>
                <md-table-cell>
                    <md-input-container class="create__room" md-inline v-bind:class="{'md-input-invalid':error.number}">
                        <md-input v-model="room.number"></md-input>
                        <span class="md-error" v-for="err in error.number">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                   <md-table-cell>
                    <md-input-container class="create__room" md-inline v-bind:class="{'md-input-invalid':error.cost}">
                        <md-input v-model="room.cost"></md-input>
                        <span class="md-error" v-for="err in error.cost">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="create__room" md-inline v-bind:class="{'md-input-invalid':error.person}">
                        <md-input v-model="room.person"></md-input>
                        <span class="md-error" v-for="err in error.person">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="creat__room" v-bind:class="{'md-input-invalid':error.type}">
                        <md-select v-model="room.type">
                            <md-option value="1">Стандарт</md-option>
                            <md-option value="2">Полу-люкс</md-option>
                            <md-option value="3">Люкс</md-option>
                        </md-select>
                        <span class="md-error" v-for="err in error.type">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-button class="md-raised create__user__button" v-on:click.native="saveRoom">
                        Сохранить
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table-body>
    </md-table>
</template>
<script>
import { post } from "../../../helpers/axios"
import Auth from "../../../store/auth"
import Flash from '../../../helpers/flash'

export default {
    data() {
        return {
            room: {
                number: '',
                type: '',
                cost: '',
                person: ''
            },
            error: {},
        }
    },
    methods: {
        saveRoom: function () {
            this.error = {}
            post('api/admin/room/createroom?token=' + Auth.state.api_token, this.room)
                .then((res) => {
                    console.log(res)
                    Flash.setSuccess('Комната № '+this.room.number+' добавлена!')
                })
                .catch((err) => {
                    if (err.response.data) {
                        this.error = err.response.data
                        Flash.setError('Неудалось создать комнату!')
                    }
                })
            this.rooms = {}
        }
    },
}
</script>
<style scoped>
.create__user__button {
    width: 150px !important;
    justify-content: center;
}

</style>