<template>
    <md-table>
        <md-table-header>
            <md-table-row>
                <md-table-head>Номер</md-table-head>
                <md-table-head>Стоимость</md-table-head>
                <md-table-head>Мест</md-table-head>
                <md-table-head>Тип</md-table-head>
                <md-table-head width="150px"></md-table-head>
            </md-table-row>
        </md-table-header>
        <md-table-body>
            <md-table-row v-for="row in editRoom" :key="row.id">
                <md-table-cell>
                    <md-input-container class="edit__room" md-inline v-bind:class="{'md-input-invalid':errorEdit.number && errorEdit.id == row.id}">
                        <md-input :value="row.number" v-model="row.number"></md-input>
                        <span class="md-error" v-for="err in errorEdit.number">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                  <md-table-cell>
                    <md-input-container class="edit__room" md-inline v-bind:class="{'md-input-invalid':errorEdit.cost && errorEdit.id == row.id}">
                        <md-input :value="row.cost" v-model="row.cost"></md-input>
                        <span class="md-error" v-for="err in errorEdit.cost">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                  <md-table-cell>
                    <md-input-container class="edit__room" md-inline v-bind:class="{'md-input-invalid':errorEdit.person && errorEdit.id == row.id}">
                        <md-input :value="row.person" v-model="row.person"></md-input>
                        <span class="md-error" v-for="err in errorEdit.person">{{err}}</span>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-input-container class="edit_room">
                        <md-select v-model="row.type[1]">
                            <md-option :value="1">Стандарт</md-option>
                            <md-option :value="2">Полу-люкс</md-option>
                            <md-option :value="3">Люкс</md-option>
                        </md-select>
                    </md-input-container>
                </md-table-cell>
                <md-table-cell>
                    <md-button class="md-raised edit__room__button" @click.native="saveRoom(row)">
                        Изменить
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table-body>
    </md-table>
</template>
<script>
import { post } from "../../../helpers/axios"
import { get } from "../../../helpers/axios"
import Auth from "../../../store/auth"
import Flash from '../../../helpers/flash'

export default {
    data() {
        return {
            editRoom: [],
            errorEdit: {},
            editRoomId: this.checkedRoom
        }
    },
    props: [
        'checkedRoom'
    ],
    methods: {
        getEditRoom() {        
            var roomsId = { RoomId: this.editRoomId }
            post('api/admin/showrooms/editroms?token=' + Auth.state.api_token, roomsId)
                .then((res) => {
                    this.editRoom = res.data.editrooms
                })
                .catch((err) => {
                    if (err.response.data.editerror) {
                        Flash.setError(err.response.data.editerror)
                    }
                })
        },
        saveRoom(row) {
             this.errorEdit = {}
            post('api/admin/editroom?token=' + Auth.state.api_token, row)
                .then((res) => {
                    Flash.setSuccess(res.data.editsave)
                    this.errorEdit.error = res.data.editsave
                })
                .catch((err) => {
                        this.errorEdit = err.response.data
                        this.errorEdit.id = row.id
                        
                })
        }
    },

    created() {
        this.getEditRoom()
    }
}
</script>
<style>
.edit__room,
{
    margin-bottom: 40px;
}

.edit__room__button {
    width: 150px !important;
    justify-content: center;
}
</style>